<div class="full-page">    
    <div class="container">
        <h3 class="greeting">Hey there, Tech Lover!!</h3>
        <h3 class="second-greeting">Need an electronic gadget? We got you covered.<br><br>Let's help you get started with the website.</h3>
        <ul class="website-elements">
            <li>
                <h4>Home</h4>
                <p>The page you are currently on is the home page of the wesite. This is the page you are redirected to when you successfully log in to the app. This page contains an overview of all the features this website has to offer. If you are new to this website, take some time to go through this page and get an overview of this website's functionalities.</p>
                <hr>
            </li>
            <li>
                <h4>Products</h4>
                <p>Take a look at the different products our store has to offer on this page. We have a wide range of electronic gadgets available in our store, and that too at great affordable prices! We offer a great selection of products which are greatly loved by our customers.</p>
                <hr>
            </li>
            <li>
                <h4>Chatbot</h4>
                <p>One of the most interesting features our site has, and a feature that is highly preferred by our customers. Wish to interact with us regarding some order placement or for asking some questions regarding a product? Our chatbot can help you with that. It can help you place orders for any products we sell, or it can answer any queries you have regarding our products.</p>
                <hr>
            </li>
            <li>
                <h4>Details</h4>
                <p>There can always be times when you want to update any of your user details. These may include your password, address or username. Don't worry, because we have already taken that into consideration. Feel free to use this page to change any of your personal details.</p>
                <hr>
            </li>
            <li>
                <h4>About Us</h4>
                <p>Want to know more about our store? Want to get in touch with us to suggest some improvements in our facilities? We would love to hear from you. You can visit this page to know more about our store, regarding its location and other details, or you can find our contact details on this page. We are always happy to know what are customers think about us.</p>
                <hr>
            </li>
        </ul>
    </div>
</div>