header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/img/big-electronic-retail-store-17458571.jpg);
    /* background-image: url(../../../assets/img/dummy.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    margin: 0;
}

.hero-text-box {
    position: absolute;
    /* width: 1140px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    text-align: center;
}

.hero-text-box h2 {
    color: #fff;
}

.hero-text-box .admin-img {
    height: auto;
    width: 140px;
}

.hero-text-box .user-img {
    height: auto;
    width: 140px;
}

.hero-text-box p {
    text-align: center;
    margin: 10% auto;
    font-size: 30px;
    font-weight: 350;
}

.hero-text-box a {
    margin: 50px 500px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    margin-top: 50%;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    margin-right: 15px;
}

.btn:hover,
.btn:active {
    background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e67e22;
}