<!-- <p>dashboard-about-us works!</p> -->
<div class="details">
    <div class="container">
        <h3 class="title">About Us</h3>
        <div class="short-intro">
            <p>Established in the year 2005, ElectroMart has since been dedicated at providing quality service to its customers and ensuring that our customers find what they are looking for. We hold our customers in highest possible esteem.</p>
            <p>We have dedicated and hard-working employees who try their best to understand the needs of our customers and make sure that no customer leaves our store unsatisfied. We have had a great experience with our customers, and we try our best to ensure this feeling is mutual between us and our customers.</p>
            <p>We have seen a tremendous growth in the our scale of our store, and we have our customers to thank for the same. They are the key to our success and we will always be thankful to them.</p>
        </div>
        <img class="store-img" src="../../../assets/img/store-img.jpg">
        <div class="beginning">
            <h4>How it all began</h4>
            <p>Electromart was started in Jaipur, Rajasthan in the year 2005 by Arvind Mehta, with merely 3 employees to work in the store, and they were responsible for helping customers as well as book keeping and inventory check. Unfortunately, the store did not see any significant progress for the next 5 years. At a point of time, the store even reached to the point of closing. However, the store later saw tremendous growth due to the hard-working employees and the feedback received from our customers.</p>
            <p>The owner later decided to expand the business to keep up with the demand of our customers, and decided to open a new branch in New Delhi to meet up with a number of potential buyers. Gradually, the store started catching the eye of a number of big investors, which further facilitated in the expansion of the franchise. At present we have multipe branches in different parts of the country.</p>
        </div>
        <div class="branches">
            <h4>Our Branches</h4>
            <p>The Main branch for ElectroMart is situated in Japiur. Apart from that, we have multiple number of branches throughout the cities in the country. And we ensure that all the branches under us show same amount of effort and that all the branches are treated equally in terms of benefits we offer, irrespective of the country's location. Our branches are in the following states of India.</p>
            <div class="side-branches left">
                <ul>
                    <li>Rajasthan</li>
                    <li>Delhi</li>
                    <li>Gujarat</li>
                    <li>Uttar Pradesh</li>
                    <li>Madhya Pradesh</li>
                    <li>Bihar</li>
                    <li>Goa</li>
                    <li>Punjab</li>
                </ul>
            </div>
            <div class="side-branches right">
                <ul>
                    <li>Maharashtra</li>
                    <li>West Bengal</li>
                    <li>Tamil Nadu</li>
                    <li>Kerala</li>
                    <li>Assam</li>
                    <li>Jammu and Kashmir</li>
                    <li>Haryana</li>
                    <li>Karnataka</li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="contact-us">
    <div class="container">
        <h4>Contact Us</h4>
        <p>Have some suggestions for us? Want to get in touch with us to report some issues? We would be happy to help in any way we can.<br>After all, our customers are the ones who define us. Please use any of the below means to get in touch with us.</p>
        <ul>
            <li><i class="fa fa-envelope design"></i>electromart@gmail.com</li>
            <li><i class="fa fa-phone design"></i>+91 9275907159</li>
            <li><i class="fa fa-pencil design"></i>ElectroMart, Plot No. 21, Jawahar Circle, Jaipur, Rajasthan, Pin Code: 110230</li>
        </ul>
    </div>
</div>