<div>
    <a href="/welcome" class="go-back">
    </a>
</div>
<div class="container">
    <h3>Sign In</h3>
    <div class="input-fields">
        <input id="username" [(ngModel)]="user.email" placeholder="Email" autocomplete="off"><br>
        <input type="password" id="password" [(ngModel)]="user.password" placeholder="Password" autocomplete="off"><br>
        <button (click)="loginUser()" class="btn">Login</button>
        <p>Don't have an account?</p>
        <a href="/user-register" class="sign-up">Sign Up Now</a>
    </div>
</div>